.heading {
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card-box {
    width: 30%;
    background: gainsboro;
    padding: 10px;
    box-sizing: border-box;
    /* transform: translateX(200px);
    opacity: 0;
    transition: 150ms; */
}

.card-box.show {
    /* transform: translateX(0);
    opacity: 1; */
}

.image-box {
    width: 100%;
    aspect-ratio: 20/10;
}

.card-box .image-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    transition: 150ms; 
}

.card-box.show .image-box > img {
    opacity: 1; 
}